<div class="col-12 animated fadeInRight">     
    
    <div class="row" *ngIf="loading">
        <div class="col-sm-12">
            <div class="alert alert-warning text-center">
                <strong>Cargando...</strong>
                <br>
                <i class="fa fa-refresh fa-spin fa-2x"></i>
                <br>
                <span>Por Favor Espere...</span>
            </div>
        </div>    
    </div>

    <div class="row" *ngIf="!loading">
        <div class="col-12">
            <div class="card" style="overflow: auto">
                <div class="card-body"> 

                    <div class="text-right">
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary" data-toggle="modal" data-target="#documento" (click)="cancel()">
                            <i class="fa fa-plus"></i>
                            Nuevo Documento
                        </button>                    
                    </div>      
                    
                    <h3>Listado de Documentos (<small>{{totalRegistros}}</small>)</h3>
                    <div style="overflow: auto">
                        <table class="table">
                            <!-- <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead> -->
                            <tbody>
                                <tr *ngFor="let documento of documentos; index as i">
                                    <td>
                                        <input [(ngModel)]="documento.DS_DOCUMENTO" name="DS_DOCUMENTO" type="text" class="form-control" placeholder="Nombre del Modulo" required>
                                    </td>
                                    <td>
                                         <button type="button" class="btn btn-primary" data-toggle="modal" data-placement="top" title="Modificar" (click)="modificarDoc(i)">
                                            <i class="fa fa-pencil"></i>
                                        </button>
    
                                        <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" (click)="eliminarDoc(documento.ID_DOCUMENTO)">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table> 
                    </div>                    
                    
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="documento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registrar Documento de Conductor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>    
            <form ngNativeValidate #formDocumento="ngForm" class="form p-t-20"> 
                <div class="modal-body">               
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre del documento:</label>
                        <div class="input-group">                    
                            <input [(ngModel)]="nombreDocumento" name="nombreDocumento" type="text" class="form-control" placeholder="Nombre del Documento" required>
                        </div>
                    </div>

                    <button [disabled]="!formDocumento.form.valid" type="button" data-dismiss="modal" class="btn btn-primary waves-effect waves-light m-r-10" (click)="guardarDocumento(formDocumento.value)">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button> 
                </div>
            </form>
        </div>
    </div>
</div>
