<div class="col-12 animated fadeInRight">     
    <div class="row">
        <div class="col-12">
            <div class="card" style="overflow: auto">
                <div class="card-body"> 
                    <div class="form-group text-left" style="float: left;">
                        <button (click)="getExelDocumentosUnidad()" type="button" class="btn waves-effect waves-light btn-rounded btn-success">
                            <i class="mdi mdi-file-excel"></i>
                            Exportar
                        </button>
                    </div>  

                    <div class="form-group text-right">
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary" data-toggle="modal" data-target="#documento" (click)="cancel()">
                            <i class="fa fa-plus"></i>
                            Registrar
                        </button>                    
                    </div>      
                    <h3>Listado de Documentos (<small>{{totalRegistros}}</small>)</h3>
                    <div style="overflow: auto">
                        <table class="table table-bordered tabla-documentos">
                            <thead>
                                <tr>
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">Tipo</th>
                                    <th class="text-center">Días Tramite</th>
                                    <th class="text-center">Aplica Fecha Vencimiento</th>
                                    <th class="text-center">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let documento of documentos; index as i">
                                    <td>
                                        <input [(ngModel)]="documento.DS_DOCUMENTO" name="DS_DOCUMENTO" type="text" class="form-control" placeholder="Nombre del Modulo" required>
                                    </td>
                                    <td>
                                        <select [(ngModel)]="documento.ID_TIPO_DOCUMENTO" name="ID_TIPO_DOCUMENTO" class="form-control">
                                            <option value = "0">Seleccione</option>
                                            <option *ngFor="let tipoDocumento of tipoDocumentos" value = "{{tipoDocumento.ID_TIPO_DOC_UNIDAD}}">{{tipoDocumento.DS_TIPO_DOC}}</option>
                                        </select> 
                                    </td>
                                    <td>
                                        <select [(ngModel)]="documento.ID_CANT_DIAS" name="ID_CANT_DIAS" class="form-control">
                                            <option value = "0">Seleccione</option>
                                            <option *ngFor="let diaTramite of diasTramite" value = "{{diaTramite.ID_OP_DIAS_TRAMITE_DOC}}">{{diaTramite.CANT_DIAS}}</option>
                                        </select>       
                                    </td>
                                    <td>
                                        <select [(ngModel)]="documento.FG_FH_VENCIMIENTO" name="FG_FH_VENCIMIENTO" class="form-control">
                                            <option value = "1">SI</option>
                                            <option value = "0">NO</option>    
                                        </select>       
                                    </td>
                                    <td style="white-space: nowrap;">
                                         <button type="button" class="btn btn-primary" data-toggle="modal" data-placement="top" title="Modificar" (click)="modificarDoc(i)">
                                            <i class="fa fa-pencil"></i>
                                        </button>
    
                                        <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" (click)="eliminarDoc(documento.ID_DOCUMENTO)">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="documento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registrar Documento de Unidad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>    
            <form ngNativeValidate #formDocumento="ngForm" class="form p-t-20"> 
                <div class="modal-body">               
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre del documento:</label>
                        <div class="input-group">                    
                            <input [(ngModel)]="nombreDocumento" name="nombreDocumento" type="text" class="form-control" placeholder="Nombre del Documento" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Tipo de Documento:</label>
                        <div class="input-group">
                            <select  [(ngModel)]="idTipoDocumento" name="idTipoDocumento" class="form-control" required>
                                <option value = "0" >Seleccione</option>
                                <option *ngFor="let tipoDocumento of tipoDocumentos" value = "{{tipoDocumento.ID_TIPO_DOC_UNIDAD}}">{{tipoDocumento.DS_TIPO_DOC}}</option>
                            </select>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Días de Tramite:</label>
                        <div class="input-group">
                            <select [(ngModel)]="cantDias" name="cantDias" class="form-control" required>
                                <option value = "0" >Seleccione</option>
                                <option *ngFor="let diaTramite of diasTramite" value = "{{diaTramite.ID_OP_DIAS_TRAMITE_DOC}}">{{diaTramite.CANT_DIAS}}</option>
                            </select>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Aplica Fecha de Vencimiento:</label>
                        <div class="input-group">
                            <select [(ngModel)]="fgFhVencimiento" name="fgFhVencimiento" class="form-control">
                                <option value = "1">SI</option>
                                <option value = "0">NO</option>
                            </select>                                            
                        </div>
                    </div>

                    <button [disabled]="!formDocumento.form.valid" type="button" data-dismiss="modal" class="btn btn-primary waves-effect waves-light m-r-10" (click)="guardarDocumento(formDocumento.value)">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button> 
                </div>
            </form>
        </div>
    </div>
</div>
