<title>Briane Smart</title>
<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">BRIANE Smart</h2>


                <table class="table table-hover">
                    <tbody>
                        <!-- <tr>
                            <td>
                                <div>
                                    <button style="width: 120px;" type="button" class="btn btn-w-m btn-primary"><i class="fa fa-address-card-o fa-5x"></i></button>
                                    <span>  Registro de Empresas</span>
                                </div>
                            </td>

                            <td>
                                <div>
                                    <button style="width: 120px;" type="button" class="btn btn-w-m btn-success"><i class="fa fa fa-address-book-o fa-5x"></i></button>
                                    <span>  Agenda de Clientes</span>
                                </div>
                            </td>
                        </tr> -->

                        <!-- <tr>
                            <td>
                                <div>
                                <button style="width: 120px;" type="button" class="btn btn-w-m btn-success"><i class="mdi mdi-barcode-scan fa-5x"></i></button>
                                <span>  Catálago de Productos</span>
                                </div>
                            </td>

                            <td>
                                <div>
                                <button style="width: 120px;" type="button" class="btn btn-w-m btn-primary"><i class="mdi mdi-checkbox-multiple-marked fa-5x"></i></button>
                                <span>  Clasificación de Productos</span>
                                </div>
                            </td>
                        </tr> -->

                        <!-- <tr>
                            <td>
                                <div>
                                    <button style="width: 120px;" type="button" class="btn btn-w-m btn-primary"><i class="mdi mdi-content-duplicate fa-5x"></i></button>
                                    <span>  Emisión de Comprobantes Electrónicos</span>
                                </div>
                            </td>

                            <td>
                                <div>
                                    <button style="width: 120px;" type="button" class="btn btn-w-m btn-success"><i class="mdi mdi-currency-usd fa-5x"></i></button>
                                    <span>  Notas de Venta</span>
                                </div>
                            </td>
                        </tr> -->

                        <tr>
                            <td>
                                <div>
                                    <button style="width: 120px;" type="button" class="btn btn-w-m btn-success"><i class="mdi mdi-chart-areaspline fa-5x"></i></button>
                                    <span>  Dashboard</span>
                                </div>
                            </td>

                            <td>
                                <div>
                                    <button style="width: 120px;" type="button" class="btn btn-w-m btn-primary"><i class="mdi mdi-chart-timeline fa-5x"></i></button>
                                    <span>  Reportes Administrativos</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>



                <!-- <table class="table">
                    <div class="col-lg-6">
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                    <button type="button" class="btn btn-w-m btn-primary"><i class="fa fa  fa-address-card-o fa-5x"></i></button>
                                    <span>Información Centralizada de Clientes</span>
                                    </div>
                                </td>
                            </tr>                           
                        </tbody>
                    </div>
                </table> -->
            </div>
        </div>
    </div>

</div>

<!-- <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">				
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12" >
                        <H1 align="left"> Sistema de Registro de Informacion de Clientes - SRIC </H1>
                            
                            <table class="table">
               <div class="col-lg-6">
                <tbody>
                <tr>
                    <td>
                        <div class="col-xs-10 col-lg-12" >
                        <button type="button" class="btn btn-w-m btn-success m-r-sm"><i class="fa fa  fa-address-card-o fa-5x"></i></button>
                       Información Centralizada de Clientes
                        </div>
                    </td>
                      
               
                </tr>
                <tr>
                         <td>
                             <div class="col-xs-10 col-lg-12" >
                            <button type="button" class="btn btn-w-m btn-success m-r-sm"> <i class="fa fa  fa-desktop fa-5x"></i></button>Información Centralizada de Equipos y Dispositivos
                            </div>
                        </td>
                </tr>

                <tr>
                         <td>
                             <div class="col-xs-10 col-lg-12" >
                            <button type="button" class="btn btn-w-m btn-success m-r-sm"> <i class="fa fa  fa-database fa-5x"></i></button>Información y Vigencia de Productos y Servicios
                            </div>
                        </td>
                </tr>
               
                    </tbody>
                    </div>
            </table>
                            
            
                        </div>
                    </div>						
                </div>
            </div>
        </div> 
    </div>
</div> -->