<div class="col-12 animated fadeInRight">
    <div class="row" *ngIf="loading">
        <div class="col-sm-12">
            <div class="alert alert-warning text-center">
                <strong>Cargando...</strong>
                <br>
                <i class="fa fa-refresh fa-spin fa-2x"></i>
                <br>
                <span>Por Favor Espere...</span>
            </div>
        </div>    
    </div>

    <div class="row" *ngIf="!loading">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-left" style="float: left;">
                        <button [disabled] ="activeButton" type="button" class="btn waves-effect waves-light btn-rounded btn-success" (click)="getExcelRutas()">
                            <i class="mdi mdi-file-excel"></i>
                            Exportar
                        </button>
                    </div>  

                    <div class="text-right">
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary" routerLink="/ruta/0">
                            <i class="fa fa-plus"></i>
                            Registrar Ruta
                        </button>
                    </div>

                    <br/>

                    <div class="form-group">
                        <div class="input-group">
                            <input [(ngModel)]="search" type="text" class="form-control" placeholder="Buscar" (keyup.enter)="getRutas(search)" (keyup)="activeButtons()">                        
                            <div class="input-group-addon"><i class="mdi mdi-delete-forever pointer" data-toggle="tooltip" data-placement="top" title="Borrar Busqueda" (click)="clear()"></i></div>
                            <button style="margin-left: 3px;" type="button" class="btn btn-success waves-effect waves-light m-r-10" (click)="getRutas(search)">
                                <i class="fa fa-search"></i>
                                Consultar
                            </button>
                        </div>
                    </div>
                   
                    <h3>Listado de Rutas (<small>{{totalRegistros}}</small>)</h3>
                    <div style="overflow: auto">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">ITEM</th>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Ruta</th>
                                    <th class="text-center">Cliente</th>                                   
                                    <th class="text-center">Tarifa</th>
                                    <th class="text-center">Moneda</th>
                                    <th class="text-center">Tipo Cobro</th>
                                    <th class="text-center">Estatus</th>
                                    <th class="text-center">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ruta of rutas">
                                    <td>{{ruta.ITEMS}}</td>
                                    <td>{{ruta.ID_RUTA}}</td>
                                    <td>{{ruta.RUTA}}</td>
                                    <td>{{ruta.RAZON_SOCIAL}}</td>
                                    <td>{{ruta.TARIFA}}</td>
                                    <td>{{ruta.DS_MONEDA}}</td>                                   
                                    <td>{{ruta.DS_TIPO_COBRO_OS}}</td>
                                    <td>{{ruta.ESTATUS}}</td>    
                                    <td style="white-space: nowrap;">
                                        <button [routerLink]="(['/ruta',ruta.ID_RUTA])" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Modificar">
                                            <i class="fa fa-pencil">
                                            </i>
                                            
                                        </button>
                                        <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" (click)="deleteRuta(ruta.ID_RUTA)">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            
                    <button type="button" class="btn btn-secondary" id="Anterior" (click)="changePage(-5, -1)">
                        Anterior
                    </button>
            
                    <label style="margin-left: 10px; margin-right: 10px; font-weight: bold">Pagina {{pagina}} de {{paginas}}</label>

                    <button type="button" class="btn btn-secondary" id="Siguiente" (click)="changePage(+5, +1)">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>