

    <div class="myChartWrapper" style="overflow: auto;">
      <!-- <div class="myChart" > -->
      <div class="myChart" style="height: 500px;">
      <!-- <div class="myChart" style="height: 450px; width: 1650px;"> -->
        <canvas baseChart 
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
    </div>

