#themecolors a{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.img-profile{
    width: 150px;
    height: 150px;
}

.img-profile-shared{
    width: 35px !important;
    height: 35px !important;
    border-radius: 100px !important;
}

.img-profile-list{
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px !important;
}

.img-hospital{
    width: 100px;
    height: 100px;
}

.w70 {
    width: 70px;
}

.fondo-negro{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.oculto{
    display: none;
}
   
.table-op th {
    border-collapse: collapse !important;
    border:#e9ecef 1px solid  !important;
    background-color: gray;
}

.table-op thead{
    overflow: auto;
    width: 100%;
}

.table-op tbody{
    height: 350px;
    overflow: auto;
    width: 100%;
}

.table-op tbody,    
.table-op td,
.table-op th{
  display: block;
}

.table-op td {
    height: 80px;
    border:#e9ecef 1px solid  !important;
}

.table-op tbody td,
.table-op thead > tr > th{
    float: left;
}

.table-turno thead {
    height: 25px;
    overflow: hidden;
}

.table .table-turno tbody{
    height: 50px;
    overflow: hidden;
}

.table-turno td,
.table-turno th {
    border: transparent 0px solid  !important;
    background-color: transparent !important;
    height: 25px;
}

.fz-10px {
    font-size: 10px;
}

.fz-12px {
    font-size: 12px;
}

.table-container {
    max-width: 100%;
    overflow-x: scroll;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

.tabla-control-guia {
    border-top: solid 1px #ccc;
    position: static;
}

.tabla-control-guia thead th{
    background: gray;
    color: white;
    text-align: center;
    font-size: 14px !important;
}

.tabla-control-guia th,
.tabla-control-guia td {
    border-right: solid 1px #ccc;
    min-width: 100px;
}

.tabla-control-guia th {     
    text-align: center;
}

.tabla-control-guia th:last-child,
.tabla-control-guia td:last-child {       
    border-right: 0;
}

.tabla-control-guia td {
    border-bottom: solid 1px #ccc;
}

.tabla-control-guia,
.tabla-control-guia thead,
.tabla-control-guia tbody td {        
    white-space: nowrap;
}

.tabla-control-guia tbody td {
    padding-left: 2px;      
}

.tabla-control-guia .sticky {
    min-width: 55px !important;
}

.tabla-control-guia .sticky-2 {
    min-width: 85px !important;
    position: sticky;
    left: 0;
}

.tabla-control-guia .sticky-3 {
    min-width: 55px !important;
    position: sticky;
    left: 85px;
}

.tabla-control-guia .sticky-4 {
    min-width: 200px !important;
    position: sticky;
    left: 140px;
}

.tabla-control-guia .sticky-5 {
    min-width: 55px !important;
    position: sticky;
    left: 340px;
}

.tabla-control-guia .sticky-6 {
    min-width: 55px !important;
}

.tabla-control-guia .sticky-7 {
    min-width: 55px !important;
}

.tabla-control-guia .sticky-8 {
    min-width: 55px !important;
    position: sticky;
    left: 395px;
    text-align: center;
}

.tabla-control-guia .sticky-9 {
    min-width: 55px !important;
}

.tabla-control-guia .sticky-10 {
    min-width: 15px !important;
    font-size: 20px !important;
    text-align: center !important;
}

.tabla-control-guia tbody tr .sticky,
.sticky-2,
.sticky-3,
.sticky-4,
.sticky-5,
.sticky-6,
.sticky-7,
.sticky-8,
.sticky-9 {
    background: white;
}

.viewPdf {
    display: block;
    background: #ccc; 
    border: solid 1px #ccc;
    height: 800px;
    overflow: auto;
}

.control-guia-text-white {
    color: white;
}

body {
    font-size: 12px !important;
}

.form-control {
    font-size: 12px !important;
}

/* 
.tabla-demanda th {
    border-collapse: collapse !important;
    border:#e9ecef 1px solid  !important;
    background-color: gray;
} */

.tabla-demanda thead{
    overflow: auto;
    width: 100%;
}

.tabla-demanda tbody{
    height: 350px;
    overflow: auto;
    width: 100%;
}

.tabla-demanda tbody,    
.tabla-demanda td,
.tabla-demanda th{
  display: block;
}

/* .tabla-demanda td {
    border:#e9ecef 1px solid  !important;
} */

.tabla-demanda tbody td,
.tabla-demanda thead > tr > th{
    float: left;
}

   