#themecolors a{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.img-profile{
    width: 150px;
    height: 150px;
}

.img-profile-shared{
    width: 35px !important;
    height: 35px !important;
    border-radius: 100px !important;
}


.img-profile-list{
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px !important;
}

.img-hospital{
    width: 100px;
    height: 100px;
}


.w70 {
    width: 70px;
}

.fondo-negro{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.oculto{
    display: none;
}
   
    .table-op th {
        border-collapse: collapse !important;
        border:#e9ecef 1px solid  !important;
        background-color: gray;
    }
    
    .table-op thead{
        overflow: auto;
        width: 100%;
    }

    .table-op tbody{
        height: 350px;
        overflow: auto;
        width: 100%;
    }
 
    .table-op tbody,    
    .table-op td,
    .table-op th{
      display: block;
    }

    /* .table-op-pro tbody,    
    .table-op-pro td,
    .table-op-pro th{
      display: block;
    }  */

    .table-op td {
        height: 80px;
    }

    .table-op tbody td,
    .table-op thead > tr > th{
        float: left;
        /* border-bottom-width: 0; */
    }

   
    .table-turno thead {
        height: 25px;
        overflow: hidden;
    }

    .table.table-turno tbody{
        height: 50px;
        overflow: hidden;
    }

    .table-turno td,
    .table-turno th {
        border: transparent 0px solid  !important;
        background-color: transparent !important;
        height: 25px;
    }




    