<div class="row animated fadeInRight" style="overflow: auto">
    <div class="col-12">
        <div class="card">
            <iframe width="100%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMjk0MTBlZGYtNjIxZi00ZWVkLWFhNDgtNDZiYTNhYjU4NDUzIiwidCI6IjhjYzJjZGExLWVkNzQtNDc3YS04YWU5LTQyNWNmYjg1ZjE4MSJ9" frameborder="0" allowFullScreen="true">
            </iframe>
        </div>
    </div>
</div>

<!-- 
<div class="row animated fadeInRight">
    <div class="col-6">
        <div class="card">
            <div class="card-body">  
                <h4 class="card-title"> {{graficos.grafico1.leyenda}}</h4>              
                <app-graphics-doughnut
                    [Labels] = "graficos.grafico1.labels"
                    [Data] = "graficos.grafico1.data"
                    [Type] = "graficos.grafico1.type"
                    [Leyenda] = "graficos.grafico1.leyenda">
                </app-graphics-doughnut>                    
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> {{graficos.grafico2.leyenda}}</h4> 
                <app-graphics-doughnut
                    [Labels] = "graficos.grafico2.labels"
                    [Data] = "graficos.grafico2.data"
                    [Type] = "graficos.grafico2.type"
                    [Leyenda] = "graficos.grafico2.leyenda">
                </app-graphics-doughnut>                   
            </div>
        </div>
    </div>

</div>

<div class="row animated fadeInRight">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> {{graficos.grafico3.leyenda}}</h4> 
                <app-graphics-doughnut
                    [Labels] = "graficos.grafico3.labels"
                    [Data] = "graficos.grafico3.data"
                    [Type] = "graficos.grafico3.type"
                    [Leyenda] = "graficos.grafico3.leyenda">
                </app-graphics-doughnut>                   
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> {{graficos.grafico4.leyenda}}</h4> 
                <app-graphics-doughnut
                    [Labels] = "graficos.grafico4.labels"
                    [Data] = "graficos.grafico4.data"
                    [Type] = "graficos.grafico4.type"
                    [Leyenda] = "graficos.grafico4.leyenda">
                </app-graphics-doughnut>                    
            </div>
        </div>
    </div>

</div> -->