<div class="row animated fadeInRight">
    <div class="col-12">
        <div class="card">
            <div class="card-body">         
                <table class="table table-hover">
                    <tbody>
                        <tr *ngFor="let menu of _sidebar.menu">
                            <td *ngIf="!menu.FG_SUB_MENU && menu.ID_MODULE_MAIN === 1" [routerLink]="[menu.URL]">
                                <div>
                                    <a [routerLink]="[menu.URL]">
                                        <button style="width: 85px;" type="button" class="btn btn-w-m btn-info"><i [class]="menu.ICON + ' fa-3x'"></i></button>
                                        <span style="color: gray;"> {{menu.DS_MODULE}}</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- <ul *ngFor="let menu of _sidebar.menu" class="treeview"> -->

    <!-- <li *ngIf="!menu.FG_SUB_MENU && menu.ID_TYPE_MENU === 1" class="list-group-item node-treeview-checkable" data-nodeid="5" style="color:undefined;background-color:undefined;"><span class="icon glyphicon"></span><span class="icon check-icon glyphicon glyphicon-unchecked"></span>{{menu.DS_MODULE}}</li> -->

    <!-- <li class="list-group-item node-treeview12" *ngIf="!menu.FG_SUB_MENU && menu.ID_TYPE_MENU === 1" [routerLink]="[menu.URL]" routerLinkActive="active"><i [class]="menu.ICON"></i><span class="hide-menu">{{menu.DS_MODULE}}</span></li> -->

    
    <!-- <li class="list-group-item node-treeview12"  *ngIf="menu.FG_SUB_MENU && menu.ID_TYPE_MENU === 1"  aria-expanded="false"><i [class]="menu.ICON"></i><span class="hide-menu"> {{menu.DS_MODULE}} </span></li> -->

    <!-- <ul aria-expanded="false" class="collapse">
        <li *ngFor="let submenu of _sidebar.menu">
            <a  *ngIf="!submenu.FG_SUB_MENU && submenu.ID_TYPE_MENU === 2 && menu.ID_MODULE === submenu.ID_MODULE_SEC && submenu.URL != ''" [routerLink]="[submenu.URL]" routerLinkActive="active" [class]="submenu.ICON"> {{submenu.DS_MODULE}}</a>

           
            <a  *ngIf="submenu.FG_SUB_MENU && submenu.ID_TYPE_MENU === 2 && menu.ID_MODULE === submenu.ID_MODULE_SEC && submenu.URL === ''" class="has-arrow waves-effect waves-dark" aria-expanded="false"><i [class]="submenu.ICON"></i><span class="hide-menu"> {{submenu.DS_MODULE}} </span></a>
          

            <ul aria-expanded="false" class="collapse">
                <li *ngFor="let submenu_sec of _sidebar.menu">
                    <a  *ngIf="!submenu_sec.FG_SUB_MENU && submenu_sec.ID_TYPE_MENU === 3 && menu.ID_MODULE === submenu.ID_MODULE_SEC && submenu_sec.ID_MODULE_SEC === submenu.ID_MODULE && submenu_sec.URL != ''" [routerLink]="[submenu_sec.URL]"
                        routerLinkActive="active" [class]="submenu_sec.ICON"> {{submenu_sec.DS_MODULE}}</a>
                </li>
            </ul>
        </li>
    </ul> -->
<!-- </ul> -->
