<div class="col-12 animated fadeInRight">

    <div class="row" *ngIf="loading">
        <div class="col-sm-12">
            <div class="alert alert-warning text-center">
                <strong>Cargando...</strong>
                <br>
                <i class="fa fa-refresh fa-spin fa-2x"></i>
                <br>
                <span>Por Favor Espere...</span>
            </div>
        </div>    
    </div>

    <div class="row" *ngIf="!loading">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="text-left" style="float: left;">
                        <!-- <button [disabled] ="activeButton" type="button" class="btn waves-effect waves-light btn-rounded btn-default" (click)="printer()">
                            <i class="mdi mdi-printer"></i>
                            Imprimir
                        </button> -->

                        <!-- <button [disabled] ="activeButton" type="button" class="btn waves-effect waves-light btn-rounded btn-success" (click)="getGuiasExcel()">
                            <i class="mdi mdi-file-excel"></i>
                            Exportar
                        </button> -->
                    </div>  
                    

                    <div class="text-right">
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary" routerLink="/peaje/0/0">
                            <i class="fa fa-plus"></i>
                            Registrar
                        </button>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label>Desde:</label>
                                <div class="input-group">                                            
                                    <input [(ngModel)]="fhDesde" name="fhDesde" type="date" class="form-control" required>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-sm">
                            <div class="form-group">
                                <label>Hasta:</label>
                                <div class="input-group">                                            
                                    <input [(ngModel)]="fhHasta" name="fhHasta" type="date" class="form-control" required>
                                    
                                    <button type="button" class="btn btn-success waves-effect waves-light m-r-10" (click)="getPeajes(search)">
                                        <i class="fa fa-search"></i>
                                        Consultar
                                    </button>
                                </div>
                            </div>
                        </div>                       
                    </div> 

                    <!-- <br/> -->

                    <div class="form-group">
                        <div class="input-group">
                            <input [(ngModel)]="search" type="text" class="form-control" placeholder="Buscar" (keyup.enter)="getPeajes(search)" (keyup)="activeButtons()">                        
                            <div class="input-group-addon"><i class="mdi mdi-delete-forever pointer" data-toggle="tooltip" data-placement="top" title="Borrar Busqueda" (click)="clear()"></i></div>
                        </div>
                    </div>
                   
                    <h3>Listado de Solicitudes de Peaje (<small>{{totalRegistros}}</small>)</h3>
                    <div style="overflow: auto">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ITEMS</th>
                                    <th>Nro. Solicitud</th>
                                    <th>Nro. Orden Servicio</th>
                                    <th>Monto</th>
                                    <th>Fecha</th>
                                    <th>Estatus</th>
                                    <th>Usuario</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let peaje of peajes">
                                    <td>{{peaje.ITEMS}}</td>
                                    <td>{{peaje.ID_PEAJE}}</td>
                                    <td>{{peaje.CORRELATIVO}}</td>
                                    <td>{{peaje.MONTO_TOTAL}}</td>
                                    <td>{{peaje.FECHA}}</td>
                                    <td>{{peaje.ESTADO}}</td>
                                    <td>{{peaje.USUARIO}}</td>                                   
                                    <td>
                                        <button [routerLink]="(['/peaje',peaje.ID_PEAJE,'0'])" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Modificar">
                                            <i class="fa fa-pencil"></i>  
                                        </button>

                                        <button [routerLink]="(['/peaje',peaje.ID_PEAJE,'2'])" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Procesar">
                                            <i class="fa fa-check-square"></i>  
                                        </button>

                                        <button [routerLink]="(['/peaje',peaje.ID_PEAJE,'1'])" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Registrar Facturas">
                                            <i class="mdi mdi-library-books"></i>  
                                        </button>

                                        <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" (click)="deletePeaje(peaje.ID_PEAJE)">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            
                    <button type="button" class="btn btn-secondary" id="Anterior" (click)="changePage(-5, -1)">
                        Anterior
                    </button>
            
                    <label style="margin-left: 10px; margin-right: 10px; font-weight: bold">Pagina {{pagina}} de {{paginas}}</label>

                    <button type="button" class="btn btn-secondary" id="Siguiente" (click)="changePage(+5, +1)">
                        Siguiente
                    </button>

                </div>
            </div>
        </div>
    </div>

</div>