<div class="col-12 animated fadeInRight">

    <div class="row" *ngIf="loading">
        <div class="col-sm-12">
            <div class="alert alert-warning text-center">
                <strong>Cargando...</strong>
                <br>
                <i class="fa fa-refresh fa-spin fa-2x"></i>
                <br>
                <span>Por Favor Espere...</span>
            </div>
        </div>    
    </div>

    <div class="row" *ngIf="!loading">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <!-- <div class="text-left" >
                        <button [disabled] ="activeButton" type="button" class="btn waves-effect waves-light btn-rounded btn-default" (click)="printer()">
                            <i class="mdi mdi-printer"></i>
                            Imprimir
                        </button>

                        <button [disabled] ="activeButton" type="button" class="btn waves-effect waves-light btn-rounded btn-success" (click)="getGuiasExcel()">
                            <i class="mdi mdi-file-excel"></i>
                            Exportar
                        </button>
                    </div>   -->
                    
                    <!-- <div class="text-right">
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary" routerLink="/guia/0">
                            <i class="fa fa-plus"></i>
                            Registrar Guia
                        </button>
                    </div> -->

                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label>Desde:</label>
                                <div class="input-group">                                            
                                    <input [(ngModel)]="fhDesde" name="fhDesde" type="date" class="form-control" required>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-sm">
                            <div class="form-group">
                                <label>Hasta:</label>
                                <div class="input-group">                                            
                                    <input [(ngModel)]="fhHasta" name="fhHasta" type="date" class="form-control" required>
                                </div>
                            </div>
                        </div>     
                        
                         <div class="col-sm">
                            <div class="form-group row">
                                <label>Zona:</label>
                                <div class="input-group">   
                                    <!-- (change)="getGuias(search)"                 -->
                                    <select [(ngModel)]="idZona" name="idZona" class="form-control" required>
                                        <option value = "0">Seleccione</option>
                                        <option *ngFor="let zonaConductor of zonasConductor" value = "{{zonaConductor.ID_ZONA_COND}}">{{zonaConductor.NB_ZONA_COND}}</option>
                                    </select>
                                     <button style="margin-left: 3px;" type="button" class="btn btn-success waves-effect waves-light m-r-10" (click)="getGuias(search)">
                                        <i class="fa fa-search"></i>
                                        Consultar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> 

                    <!-- <br/> -->

                    <div class="form-group">
                        <div class="input-group">
                            <input [(ngModel)]="search" type="text" class="form-control" placeholder="Buscar" (keyup.enter)="getGuias(search)" (keyup)="activeButtons()">                        
                            <div class="input-group-addon"><i class="mdi mdi-delete-forever pointer" data-toggle="tooltip" data-placement="top" title="Borrar Busqueda" (click)="clear()"></i></div>
                        </div>
                    </div>
                   
                    <!-- <h3>Listado de Guías (<small>{{totalRegistros}}</small>)</h3> -->

                    <div class="row">
                        <div class="col-sm">
                            <h3>Listado de Guías (<small>{{totalRegistros}}</small>)</h3>
                        </div>
                        <!-- <div class="col-sm text-right">
                            <button type="button" class="btn btn-primary waves-effect btn-rounded waves-light m-r-10" (click)="actualizarFechas()">
                                <i class="fa fa-save"></i>
                                Guardar Todo
                            </button>
                        </div> -->
                    </div>

                    <div class="table-container">
                        
                        <table class="tabla-control-guia fz-10px">
                        <!-- <table class="tabla-control-guia fz-10px" style="width: 2890px;"> -->
                            <thead>
                                <tr>          
                                    <th class="sticky">Orden Servicio</th>                                                             
                                    <th class="sticky-2">Guia Trans.</th>                                    
                                    <th class="sticky-3">Fecha</th>
                                    <th class="sticky-4">Conductor</th>
                                    <th class="sticky-5">Tracto</th>
                                    <th class="sticky-6">Remolque</th>                                                    
                                    <th class="sticky-7">Ruta</th>
                                    <th class="sticky-8">Tiempo</th>
                                    <th class="sticky-9">Estado</th>
                                    <th>Inicio Viaje</th>
                                    <th>Llegada Punto Carga</th>                                    
                                    <th>Ingreso Punto Carga</th>
                                    <th>Salida Punto Carga</th>
                                    <th>Llegada Punto Descarga</th>
                                    <th>Ingreso Punto Descarga</th>
                                    <th>Salida Punto Descarga</th>
                                    <th>Fin Viaje</th>
                                    <th class="sticky-10"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let guia of guias, index as i">
                                    <td class="sticky" data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">{{guia.CORRELATIVO_OS}}</td>
                                    <td class="sticky-2" data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">{{guia.CORRELATIVO}}</td>                                    
                                    <td class="sticky-3" data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">{{guia.FH_GUIA}}</td>
                                    <td class="sticky-4" data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">{{guia.NOMBRE_CONDUCTOR}}</td>
                                    <td class="sticky-5" data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">{{guia.PLACA_TRACTO}}</td>
                                    <td class="sticky-6" data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">{{guia.PLACA_REMOLQUE}}</td>                                   
                                    <td class="sticky-7" data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">{{guia.DS_ORI_DEST}} - {{guia.DESTINO}}</td>
                                    <td class="sticky-8 {{guia.COLOR_ESTATUS}}" data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">{{guia.TIEMPO_PLANIFICACION_VIAJE}}</td>
                                    <td class="sticky-9" data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">{{guia.ESTATUS_PLANICACION}}</td>
                                    
                                    <!-- Inicio de viaje -->
                                    <td data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">
                                        <div >   
                                            <input (dblclick)="motivosModalDbclick(i,modalMotivos, $event)" style="width: 126px;" [(ngModel)]="guia.FECHA_INICIO_VIAJE" name="FECHA_INICIO_VIAJE" type="date" class="form-control fz-10px" required>
                                            <input style="width: 40px; margin-left: 2px;" [(ngModel)]="guia.HORA_INICIO_VIAJE" name="HORA_INICIO_VIAJE" type="text" class="form-control fz-10px hora-min-input" required maxlength="2">
                                            <input style="width: 40px; margin-left: 2px;" (keyup.enter)="actualizarFechaHora(i,1)" [(ngModel)]="guia.MIN_INICIO_VIAJE" name="MIN_INICIO_VIAJE" type="text" class="form-control fz-10px" required maxlength="2" pattern="[0-9]{2}$">
                                        </div>                                               
                                    </td>

                                    <!-- Llegada Punto Carga-->
                                    <td data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">
                                        <div>
                                            <div >   
                                                <input style="width: 126px; height: 10px;" [(ngModel)]="guia.FECHA_LLEGADA_PC" name="FECHA_LLEGADA_PC" type="date" class="form-control fz-10px" required>
                                                <input style="width: 40px; margin-left: 2px;" [(ngModel)]="guia.HORA_LLEGADA_PC" name="HORA_LLEGADA_PC" type="text" class="form-control fz-10px" required maxlength="2">
                                                <input style="width: 40px; margin-left: 2px;" (keyup.enter)="actualizarFechaHora(i,2)" [(ngModel)]="guia.MIN_LLEGADA_PC" name="MIN_LLEGADA_PC" type="text" class="form-control fz-10px" required maxlength="2">
                                            </div>                                            
                                        </div>
                                    </td>

                                    <!-- Ingreso Punto Carga -->
                                    <td data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">
                                        <div>
                                            <div >   
                                                <input style="width: 126px; height: 10px;" [(ngModel)]="guia.FECHA_INGRESO_PC" name="FECHA_INGRESO_PC" type="date" class="form-control fz-10px" required>
                                                <input style="width: 40px; margin-left: 2px;" [(ngModel)]="guia.HORA_INGRESO_PC" name="HORA_INGRESO_PC" type="text" class="form-control fz-10px" required maxlength="2">
                                                <input style="width: 40px; margin-left: 2px;"  (keyup.enter)="actualizarFechaHora(i,3)" [(ngModel)]="guia.MIN_INGRESO_PC" name="MIN_INGRESO_PC" type="text" class="form-control fz-10px" required maxlength="2">
                                            </div>                                            
                                        </div>
                                    </td>

                                    <!-- Salida Punto Carga -->
                                    <td data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">
                                        <div>
                                            <div >   
                                                <input style="width: 126px; height: 10px;" [(ngModel)]="guia.FECHA_SALIDA_PC" name="FECHA_SALIDA_PC" type="date" class="form-control fz-10px" required>
                                                <input style="width: 40px; margin-left: 2px;" [(ngModel)]="guia.HORA_SALIDA_PC" name="HORA_SALIDA_PC" type="text" class="form-control fz-10px" required maxlength="2">
                                                <input style="width: 40px; margin-left: 2px;" (keyup.enter)="actualizarFechaHora(i,4)" [(ngModel)]="guia.MIN_SALIDA_PC" name="MIN_SALIDA_PC" type="text" class="form-control fz-10px" required maxlength="2">
                                            </div>                                            
                                        </div>
                                    </td>
                                   
                                     <!-- LLegada Punto Descarga -->
                                     <td data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">
                                        <div>
                                            <div >   
                                                <input style="width: 126px; height: 10px;" [(ngModel)]="guia.FECHA_LLEGADA_PD" name="FECHA_LLEGADA_PD" type="date" class="form-control fz-10px" required>
                                                <input style="width: 40px; margin-left: 2px;" [(ngModel)]="guia.HORA_LLEGADA_PD" name="HORA_LLEGADA_PD" type="text" class="form-control fz-10px" required maxlength="2">
                                                <input style="width: 40px; margin-left: 2px;" (keyup.enter)="actualizarFechaHora(i,5)" [(ngModel)]="guia.MIN_LLEGADA_PD" name="MIN_LLEGADA_PD" type="text" class="form-control fz-10px" required maxlength="2">
                                            </div>                                            
                                        </div>
                                    </td>

                                    <!-- Ingreso Punto Descarga -->
                                    <td data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">
                                        <div>
                                            <div >   
                                                <input style="width: 126px;" [(ngModel)]="guia.FECHA_INGRESO_PD" name="FECHA_INGRESO_PD" type="date" class="form-control fz-10px" required>
                                                <input style="width: 40px; margin-left: 2px;" [(ngModel)]="guia.HORA_INGRESO_PD" name="HORA_INGRESO_PD" type="text" class="form-control fz-10px" required maxlength="2">
                                                <input style="width: 40px; margin-left: 2px;" (keyup.enter)="actualizarFechaHora(i,6)" [(ngModel)]="guia.MIN_INGRESO_PD" name="MIN_INGRESO_PD" type="text" class="form-control fz-10px" required maxlength="2">
                                            </div>                                            
                                        </div>
                                    </td>
                                    
                                    <!-- Salida Punto Descarga -->                          
                                    <td data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">
                                        <div>
                                            <div >   
                                                <input style="width: 126px;" [(ngModel)]="guia.FECHA_SALIDA_PD" name="FECHA_SALIDA_PD" type="date" class="form-control fz-10px" required>
                                                <input style="width: 40px; margin-left: 2px;" [(ngModel)]="guia.HORA_SALIDA_PD" name="HORA_SALIDA_PD" type="text" class="form-control fz-10px" required maxlength="2">
                                                <input style="width: 40px; margin-left: 2px;" (keyup.enter)="actualizarFechaHora(i,7)" [(ngModel)]="guia.MIN_SALIDA_PD" name="MIN_SALIDA_PD" type="text" class="form-control fz-10px" required maxlength="2">
                                         
                                            </div>                                            
                                        </div>
                                    </td>

                                    <!-- Fin viaje -->
                                    <td data-toggle="tooltip" data-placement="top" title="{{guia.CORRELATIVO}} | {{guia.FH_GUIA}} | {{guia.NOMBRE_CONDUCTOR}} | {{guia.PLACA_TRACTO}}">
                                        <div>
                                            <div >   
                                                <input style="width: 126px;" [(ngModel)]="guia.FECHA_FIN_VIAJE" name="FECHA_FIN_VIAJE" type="date" class="form-control fz-10px" required>
                                                <input style="width: 40px; margin-left: 2px;" [(ngModel)]="guia.HORA_FIN_VIAJE" name="HORA_FIN_VIAJE" type="text" class="form-control fz-10px" required maxlength="2">
                                                <input style="width: 40px; margin-left: 2px;" (keyup.enter)="actualizarFechaHora(i,8)" [(ngModel)]="guia.MIN_FIN_VIAJE" name="MIN_FIN_VIAJE" type="text" class="form-control fz-10px" required maxlength="2">
                                            </div>                                            
                                        </div>
                                    </td>

                                    <td class="sticky-10">
                                        <a data-toggle="tooltip" data-placement="top" title="Guardar" (click)="actualizarLinea(i)"> <i class="fa fa-floppy-o text-success m-r-10 pointer"></i> </a>
                                    </td>  
                                </tr>
                            </tbody>
                        </table>
                    </div>
            
                    <button type="button" class="btn btn-secondary" id="Anterior" (click)="changePage(-10, -1)">
                        Anterior
                    </button>
            
                    <label style="margin-left: 10px; margin-right: 10px; font-weight: bold">Pagina {{pagina}} de {{paginas}}</label>

                    <button type="button" class="btn btn-secondary" id="Siguiente" (click)="changePage(+10, +1)">
                        Siguiente
                    </button>  
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modalMotivos let-modal>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Motivo Tardanza</h5>
                    <button type="button" class="close pointer" data-dismiss="modal" aria-label="Close" (click)="cerrarModalMotivos(modalMotivos)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            
                <div class="modal-body">
                    <form ngNativeValidate #formMotivos="ngForm" class="form p-t-20"> 
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Motivo:</label>
                                <div class="input-group">
                                    <select [(ngModel)]="idMotivoNoOp" name="idMotivoNoOp" class="form-control" required>                          
                                        <option *ngFor="let motivos of motivosNoOp" value = {{motivos.ID_MOTIVO_OP}}>{{motivos.DS_MOTIVO_OP}}</option>
                                    </select>                                            
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="cerrarModalMotivos(modalMotivos)">Cancelar</button>
                            <button [disabled]="!formMotivos.form.valid" type="button" class="btn btn-primary" data-dismiss="modal" (click)="actualizarMotivo(modal)">Guardar</button>
                        </div>    
                    </form>
                </div>     
            </div>      
</ng-template>

